@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; margin: 0; }
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  background: #FBFAFF;
}
.mono { font-family: 'JetBrains Mono', ui-monospace, monospace; }
* { box-sizing: border-box; }
input, select, textarea, button { font-family: inherit; }
